body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgb(2,2,2);
}


::-webkit-scrollbar{display: none;}

p{
    font-size: 10px;
    font-family: arial;
    text-align: justify;
    background: url(sample.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
